html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.content {
    flex: 1;

}
input::value,
textarea::value {
    font-size: 9px; /* Réglez la taille de la police du value selon vos besoins */
}

